@import "tailwindcss";

:root {
  --background: #f2fbfd;
  --foreground: #020721;
}

@theme {
  --font-brook: var(--font-brook);
  --font-milling: var(--font-milling);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ch-lite: #f2fbfd;
  --color-ch-midnite: #0a0018;
  --color-ch-bb: #ccf1ff;
  --color-ch-blue: #6dcffd;
  --color-ch-teal: #94deeb;
  --font-sans: var(--font-milling);
  --font-mono: var(--font-brook);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@tailwind utilities;
